<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>Gameboy</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/gameboystyle.css' %}">
    </head>
    <body>
        <div class = gameboy>
            {% block screen %}
            <div class = screen style = "background-color:green;">
            </div>
            {% endblock %}
            <table>
                <tr>
                    <td><a class = buttonUp href="">↑</a></td>
                    <input type="hidden" name="test" value="Some Value"/>
                </tr>
                <tr>
                    <td><a class = buttonMiddleLeft href="">←</a></td>
                    <td><a class = buttonMiddleRight href="">→</a></td>
                </tr>
                <tr>
                    <td><a class = buttonDown href="">↓</a></td>
                </tr>
            </table>
            <td><a class = buttonAction1 href="">A</a><td><a class = buttonAction2 href="buttonB">B</a></td></td> 
            <a class = buttonSpecial1 href="">Start</a>
            <a class = buttonSpecial2 href="">Select</a>
            <div></div>
        </div>
    </body>
</html>