<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>Gameboy</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/gameboystyle.css' %}">
    </head>
    <body>
        <div class = gameboy>
            {% block screen %}
            <div class = screen style = "background-color:green;">
            </div>
            {% endblock %}
            <table>
                <tr>
                    <td><a class = buttonUp href="/buttonUp">↑</a></td>
                </tr>
                <tr>
                    <td><a class = buttonMiddleLeft href="/buttonMiddleLeft">←</a></td>
                    <td><a class = buttonMiddleRight href="/buttonMiddleRight">→</a></td>
                </tr>
                <tr>
                    <td><a class = buttonDown href="/buttonDown">↓</a></td>
                </tr>
            </table>
            <td><a class = buttonAction1 href="buttonA">A</a><td><a class = buttonAction2 href="buttonB">B</a></td></td> 
            <a class = buttonSpecial1 href="buttonStart">Start</a>
            <a class = buttonSpecial2 href="buttonSelect">Select</a>
            <div></div>
        </div>
    </body>
</html>