{% extends "html/gameboy.html" %}

{% block screen %}

<div class = screen style = "background-color: green;">
    {% if index == 0 %}
    <div style = "margin-left:160px; margin-top:100px;">-->Slot A :
        {% if A != 0 %}
        {{A}}
        {% else %}
        Free
        {% endif %}
    </div>
    {% else %}
    <div style = "margin-left:160px; margin-top:100px;">  Slot A :
        {% if A != 0 %}
        {{A}}
        {% else %}
        Free
        {% endif %}
    </div>
    {% endif %}
    
    {% if index == 1 %}
    <div style = "margin-left:160px; margin-top:100px;">-->Slot B :
        {% if A != 0 %}
        {{B}}
        {% else %}
        Free
        {% endif %}
    </div>
    {% else %}
    <div style = "margin-left:160px; margin-top:100px;">  Slot B :
        {% if A != 0 %}
        {{B}}
        {% else %}
        Free
        {% endif %}
    </div>
    {% endif %}

    {% if index == 2 %}
    <div style = "margin-left:160px; margin-top:100px;">-->Slot C :
        {% if A != 0 %}
        {{C}}
        {% else %}
        Free
        {% endif %}
    </div>
    {% else %}
    <div style = "margin-left:160px; margin-top:100px;">  Slot C :
        {% if A != 0 %}
        {{C}}
        {% else %}
        Free
        {% endif %}
    </div>
    {% endif %}

        <div style = "margin-left:160px; margin-top:90px;">A - Save</div>
        <div style = "margin-left:160px; margin-top:20px;">B - Cancel</div>
</div>

{% endblock %}